body{
    background: #2c2c2c;
}

aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    max-height: inherit;
    height:200vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

.right_menu{
    float: right;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    max-height: inherit;
    height:200vh;
    color: #fff;
    border-left: 5px solid #4d4d4d;
}


aside .logo{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: -20px;
    color: #104E44;
}

aside .logo.text{
    margin-left: 10px;
    color: #fff;
}

a{
    text-decoration: none;
    color: #B5C5C2;
}

aside .profession{
    color: #fff;
    font-size: 25px;
    text-align: center;
}

aside ul li{
    list-style: none;
    margin-top: 15px;
    transition: all .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #104E44;
    transform: scale(1.05);
}

body .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

body .features h1{font-size: 50px;}

body .features p {max-width: 400px; margin: 20px auto;}


.container {
    color: #fff;
}

.relevance_graph {
    max-width: 60%;
    display:table;
    margin-left: auto;
    margin-right: auto;
}

.container table {
    max-width: 65%;
    display:table;
    margin-left: auto;
    margin-right: auto;
}


.container h1 {
    text-align:center;
}

.container h2 {
    text-align:center;
    text-decoration:underline;
}

table, th, td {
    border: 1px solid black;
}

tr {
    color: #fff;
}