{% extends 'vacancy/layout.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Оглавление</h1>
        <ul>
            <a href="#description"><li>Чем занимается c++ разработчик</li></a>
            <a href="#skills"><li>Необходимые навыки для С++</li></a>
            <a href="#plusses"><li>Плюсы и минусы C++</li></a>
        </ul>
        <h1><a name="description">Чем занимается C++ разработчик</a></h1>
        <p class="profession_description">
            C++ разработчик осуществляет разработку программных продуктов на платформе. 
            По-просту говоря, это специалист который разрабатывает программы под операционную систему и не только.
            Универсальность C++ позволяет написать на нем практически любой продукт с нуля. 
            C++ разработчиков чаще всего приглашают в те компании, которые нацелены на создание собственного продукта, причем, в абсолютно разных областях.
        </p>
        <h1><a name="skills">Необходимые навыки для C++</a></h1>
        <p class="profession_skills">
            <ul>
                <li>Изучение библиотек для работы с библиотеками С++, в частности с STL или Boost;</li>
                <li>Основы объектно-ориентированного программирования и шаблоны проектирования;</li>
                <li>Знание алгоритмов и структур данных;</li>
                <li>Основы баз данных SQL;</li>
                <li>Изучение новых стандартов (C14, C17, C20 и тд)</li>
            </ul>
        </p>
        <h1><a name="plusses">Достоинства и недостатки С++</a></h1>
        <p class=profession_advanteges>
            С++ — один из самых популярных языков. 
            У него есть свои достоинства и недостатки, которые на самом деле достаточно субъективны. 
            Понять, нравится ли вам язык, можно не раньше, чем вы начнете его изучать.
        </p>
        <img class = "advanteges" src="{% static 'vacancy/img/advanteges.png' %}" alt="">
    </div>
{% endblock %}