{% extends 'vacancy/layout.html' %}

{% block title %}Последние вакансии{% endblock %}

{% block content %}
    <div class="features">
        {{ error_msg }}
        <form method="post">
            {% csrf_token %}
            <label for="date_day">Выберите день</label>
            {{ form.date }}
            <br>
            <button class="find_button">Найти</button>
        </form>
        <br>
        <table class="vacancies_finder" cellpadding="5" cellspacing="5" bgcolor="#3c4142">
            <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Навыки</th>
                <th>Компания</th>
                <th>Оклад</th>
                <th>Город</th>
                <th>Дата публикации</th>
            </tr>
            </thead>
            <tbody>
            {% for vacancy in vacancies %}
                <tr>
                    <td>{{ vacancy.name }}</td>
                    <td>{{ vacancy.description|truncatechars:200 }}</td>
                    <td>{{ vacancy.key_skills }}</td>
                    <td>{{ vacancy.company }}</td>
                    <td>{{ vacancy.salary }}</td>
                    <td>{{ vacancy.area_name }}</td>
                    <td>{{ vacancy.published_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}